.about h1, h2, h3, h4 {
  color: #015e98;
}

.about h2 {
  font-size: 28px !important;
}

.about p {
  font-size: 20px !important;
  color: #8e8b8c;
}

/* NavBar */
.about-navbar {
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #07568a;
}

/* Content II */

.about-logo-item-1 {
  background-image: url('../images/About/logo-item-1.png');
}

.about-logo-item-2 {
  background-image: url('../images/About/logo-item-2.png');
}

.about-logo-item-3 {
  background-image: url('../images/About/logo-item-3.png');
}

.about-logo-item-4 {
  background-image: url('../images/About/logo-item-4.png');
}

.about-logo-item-5 {
  background-image: url('../images/About/logo-item-5.png');
}

.about-logo-item-6 {
  background-image: url('../images/About/logo-item-6.png');
}

/* Content III */

.board-img-1{
  background-image: url('../images/About/Rithy.jpg');
}

.board-img-2{
  background-image: url('../images/About/mr-lin-willson.jpg');
}

.board-img-3{
  background-image: url('../images/About/Ratana.jpg');
}

.board-img-4{
  background-image: url('../images/About/mr-sila-chy.jpeg');
}

.board-img-5{
  background-image: url('../images/About/mr-sen-kang.jpeg');
}

/* Content IV */

.about-logo-item-7 {
  background-image: url('../images/About/logo-item-7.png');
}

.about-logo-item-8 {
  background-image: url('../images/About/logo-item-8.png');
}

.about-logo-item-9 {
  background-image: url('../images/About/logo-item-9.png');
}