.contact h1, h2, h3, h4 {
  color: #015e98;
}

.contact h2 {
  font-size: 23px;
}

.contact p {
  color: #9f9090;
}

.contact-navbar {
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #07568a;
}


/* Form  */

.form-label {
  font-size: 12px;
}

.right-content {
  padding-left: 10px;
}

.left-content {
  padding-right: 10px;
}


/* Form Logo */

.right-content-img-1 {
  background-image: url('../images/contact/address.png');

}

.right-content-img-2 {
  background-image: url(../images/contact/email.png);

}

.right-content-img-3 {
  background-image: url(../images/contact/telegram.png);
}
