.home h1, h2, h3, h4 {
  color: white;
}

.home p {
  font-size: 20px!important;
  color: #edecec;
}

.span-1 {
  color: #fcc400;
}

.span-btn-1 {
  font-weight: 500;
  font-size: 16px !important;
  margin-bottom: 3px;
}

/* Home Content I */

.home-navbar {
  width: 100%;
  padding-top: 40px;
  min-height: 50vw!important;
}

/* Home Content II */

.home-item-1 {
  background-image: url('../images/blurb-1.png');
}

.home-item-2 {
  background-image: url('../images/blurb-2.png');
}

.home-item-3 {
  background-image: url('../images/blurb-3.png');
}

.home-item-4 {
  background-image: url('../images/blurb-4.png');
}

/* Home Content III */

.home-banner2 {
  padding: 6% 0;
}

.home-banner2-content > p {
  font-size: 19px !important;
  padding-right: 25px;
}

/* Home Content IV & V */

.community-image-1 {
  background-image: url(../images/home/community-item-1.jpeg);
}

.community-image-2 {
  background-image: url(../images/home/community-item-2.jpeg);
}

.community-image-3 {
  background-image: url(../images/home/community-item-3.jpeg);
}

.koompi-image-1 {
  background-image: url('../images/home/koompi-image-1.png');
}

.koompi-image-2 {
  background-image: url('../images/home/koompi-image-2.png');
}

.koompi-image-3 {
  background-image: url('../images/home/koompi-image-3.png');
}

/* Responsive */

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .home-navbar {
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {

  /* Content I */
  .home-navbar > h1 {
    font-size: 24px !important;
  }
  .home-navbar-1 > p {
    font-size: 16px !important;
  }
}