.space h1, h2, h3, h4 {
  color: #015e98;
}

.space p {
  color: #9f9090;
}

.spaces-navbar {
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #07568a;
}

/* Content I */

.space-content-1 {
  padding-top: 130px;
  min-height: 100vh;
}

.space-paragraph > h1 {
  padding-top: 20px;
  font-size: 37px !important;
  text-align: left;
}

.space-paragraph > h2 {
  color: #ec0a5a;
}

.space-item-btn {
  border: 1px solid transparent;
  background-color: #ec0a5a;
  border-radius: 1.8em;
  width: 170px;
  height: 45px !important;
  text-align: center;
}

.space-item-btn > p {
  font-size: 19px !important;
  font-weight: 500;
  color: #ffffff;
  padding-top: 5px;
  cursor: default;
}

.space-banner {
  height: 500px;
  width: 100%;
  background-image: url('../images/space/smallworld_realty_banner.png');
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.go-down {
  height: 100px;
  width: 50px;
  background-image: url('../images/space/download-arrow.svg');
  background-position: center;
  background-size: 60px 130px;
  background-repeat: no-repeat;
}

/* Content II */
.space-content-2 {
  min-height: 200px;
  margin-bottom: 30px;
}

.space-content > p {
  font-size: 18px !important;
  color: black;
}

/* Content III */
.space-content-3 {
  min-height: 500px;
}

.space-item {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

.space-item-1 {
  background-image: url('../images/space/realty1.jpg');
}

.space-item-2 {
  background-image: url('../images/space/realty5.jpg');
}

.space-item-3 {
  background-image: url('../images/space/realty2.jpg');
}

.space-item-4 {
  background-image: url('../images/space/realty3.jpg');
}

.space-item-5 {
  background-image: url('../images/space/boran4.jpg');
}

.space-item-6 {
  background-image: url('../images/space/realty4.jpg');
}

.space-item-7 {
  background-image: url('../images/space/boran1.jpg');
}

.space-item-8 {
  background-image: url('../images/space/boran3.jpg');
}

.clear {
  height: 5px;
}

/* Responsive */
.map-list {
  height: 100%;
}

.paragraph-3 {
  min-height: 400px;
}

.container-3 > .row-list > .row-item-mobile-1 {
  display: initial;
}

/* Additonal Container 3 */
@media (min-width: 992px) {
  .container-3 {
    padding-left: 10%;
  }
}

@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {
  .map-item-mobile-1-hidden {
    flex: initial;
  }

  .map-item-mobile-1 {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%;
  }
}