.space h1, h2, h3, h4 {
  color: #015e98;
}

.space p {
  color: #9f9090;
}

.spaces-navbar {
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #07568a;
}


/* Content III Images */

.space-item-1 {
  background-image: url('../images/space/realty1.jpg');
}

.space-item-2 {
  background-image: url('../images/space/realty5.jpg');
}

.space-item-3 {
  background-image: url('../images/space/realty2.jpg');
}

.space-item-4 {
  background-image: url('../images/space/realty3.jpg');
}

.space-item-5 {
  background-image: url('../images/space/boran4.jpg');
}

.space-item-6 {
  background-image: url('../images/space/realty4.jpg');
}

.space-item-7 {
  background-image: url('../images/space/boran1.jpg');
}

.space-item-8 {
  background-image: url('../images/space/boran3.jpg');
}

.clear {
  height: 5px;
}
