.work h1, h2, h3, h4 {
  color: #015e98;
}

.work h2 {
  font-size: 28px !important;
}

.work p {
  font-size: 20px !important;
  color: #8e8b8c;
}

.works-navbar {
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #07568a;
}

/* Images */

.work-img-1 {
  background-image: url('../images/blurb-5.png');
}


.work-img-2 {
  background-image: url('../images/Work/investment.png');
}

.work-img-2-hidden {
  background-image: url('../images/Work/investment.png');
}

.work-img-3 {
  background-image: url('../images/Work/venture-building.png');
}

.work-img-4 {
  background-image: url('../images/Work/reforest.png');
}

.work-img-4-hidden {
  background-image: url('../images/Work/reforest.png');
}

.work-separator {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}


/* Some Normal Padding */

.work-content-right {
  padding-right: 60px;
}

.work-content-left {
  padding-left: 60px;
}

@media (max-width: 768px) {
  .work-content-right {
    padding: initial;
  }

  .work-content-left {
    padding: initial;
  }

}