@import '../node_modules/antd/dist/antd.css';

/* Container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Layout */

/* Header */

.ant-layout-header {
  background: none;
}

.logo {
  float: left;
  content: url('./images/logo/sw-green.png');
  height: 75px;
  width: 134px;
  cursor: pointer;
}

.ant-menu {
  padding-top: 5px;
  float: right;
  background: none;
  border: none;
  font-size: 20px;
}

.ant-menu-horizontal {
  border-bottom: none;
  color: white;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  color: orange;
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: none;
  color: white;
}

.ant-menu-item {
  transition: none;
  -webkit-transition: none;
}

/* Content */

.all-content {
  padding-top: 0px;
  text-align: left;
}

.ant-layout-content {
  min-height: 100vh;
  position: relative;
}

/* Footer */

.ant-layout-footer {
  height: 100px;
  background: #dbdcdd;
}

/* Other Components */

.separator {
  height: 10px;
}