@import '../node_modules/antd/dist/antd.css';

/* Container */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-3 {
  min-height: 400px;
}

  /* min-width */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


  /* max-width */

@media (max-width: 992px) {
  .paragraph-1 {
    flex: initial;
    max-width: none;
  }

  .container-3 {
    padding-left: 10%;
  }
}

@media (max-width: 768px) {

  .container-2 {
    margin-right: 0px;
    margin-left: 0px;
    max-width: 100%;
  }

  .paragraph-2 {
    flex: initial;
    max-width: none;
  }
}


/* Layout */

/* Content */

.all-content {
  padding-top: 0px;
  text-align: left;
}

.ant-layout-content {
  min-height: 100vh;
}



/* Mobile */

.isNotMobile {
  display: block;
}

.isMobile {
  display: none;
}

@media (max-width: 768px) {

  .isNotMobile {
    display: none;
  }

  .isMobile {
    display: block;
  }

}


/* Other Components */

.separator {
  height: 10px;
}