/* Header */

.ant-layout-header {
  background: none;
}

.logo {
  float: left;
  content: url('./images/logo/sw-green.png');
  height: 75px;
  width: 134px;
  cursor: pointer;
}

.ant-menu {
  padding-top: 5px;
  float: right;
  background: none;
  border: none;
  font-size: 20px;
}

.ant-menu-horizontal > .ant-menu-item > .nav-item {
  border-bottom: none;
  color: white;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: none;
}

.ant-menu-horizontal > .ant-menu-item:hover a {
  color: white;
}

.ant-menu-horizontal > .ant-menu-item > .active {
  color: orange;
}

.ant-menu-horizontal > .ant-menu-item:hover > .active {
  color: orange;
}

.ant-menu-item {
  transition: none;
  -webkit-transition: none;
}
